header {
    background-color: #dadfd9;
    color: rgb(109, 109, 109);
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

#logo {
    width: 15%;
    height: auto;
    margin-right: 10px; /* Space between logo and text */
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

#logo {
    width: 15%;
    height: auto;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

#mainContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: calc(100vh - 80px - 30px); /* 80px for header + 30px for footer */
}

#devSide {
    width: 250px;
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

#devSide p {
    margin: 0;
    font-weight: bold;
}

#chapters {
    margin-top: 10px;
}

#chapters button {
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#chapters button:hover {
    background-color: #f0f0f0;
}

#chapters button:active {
    background-color: darkgreen;
    border: 2px solid black;
    color: white;
}

#chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    background-image: url(res/Picture8.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

#chatBox {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#nextMessageButton {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    flex-shrink: 0; /* Prevent button from shrinking */
}

#nextMessageButton:hover {
    background-color: #f0f0f0;
}

#nextMessageButton:active {
    background-color: darkgreen;
    border: 2px solid black;
    color: white;
}

footer {
    background-color: #bdbdbd;
    color: white;
    text-align: center;
    padding: 3px;
    flex-shrink: 0; /* Ensure footer does not shrink */
}

.message {
    max-width: 80%;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 17px;
    line-height: 1.4;
}

.message.right {
    background-color: #d1e7dd;
    align-self: flex-end;
}

.message.left {
    background-color: #f8d7da;
    align-self: flex-start;
}
